.App-header {
  background-color: #222;
  height: 8vh;
  padding: 0vh;
  margin: 0ch;
  text-align: center;
  font-size: large;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between
}

h2 {
  display: flex;
  margin-left: 40%;
  
  flex: 1;
  align-items: center;
}

.bestperson {
  display: flex;
  margin-left: 1%;
  flex: 1;
  margin-right: auto;
  
  align-items: center;
  
}

.BobuxClicker h3 {
  text-align: center;
  display: flexbox;
}
h1 {
 text-align: center;
 display: flexbox;
}

.App {
  width: 100%;
  height: 100%;
}

#root, html, body {
  width: 100%;
  height: 100%;
}



.App-body {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 92vh;
  padding: 0rem;
  
  
}

.BobuxClicker {
  background-color: lightgreen;
  display: flexbox;
  min-width: 25%;
  padding: 3%;
  margin: 0%;
  justify-content: center;

}

.BobuxVisuals {
  padding: 3%;
  margin: 0%;
  background-color: rgb(60, 228, 105);
  flex: 1;
  min-width: 35%;
  overflow-y: scroll;
}

.BobuxBuy {
  padding: 3%;
  margin: 0%;
  background-color: rgb(7, 127, 25);
  flex: 1;
  min-width: 20%;
  overflow-y: auto;
}

@keyframes bobuxclick {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.bobuximg {
  
  padding-top: 25%;
  width: 100%;
  justify-self: center;
  height: fit-content;

 justify-self: center;
 height: fit-content;
 
}
.bobuximgactive {
  

  padding-top: 25%;
  width: 100%;
  justify-self: center;
  height: fit-content;
  justify-self: center;
  height: fit-content;
  animation: bobuxclick 0.2s ease-out ;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  
}

.bobuximgactive ~ #tooltip {
  
  display:block;
  position:fixed;
  overflow:hidden;
  animation: fadeout 0.2s linear ;
  animation-fill-mode: forwards;
  
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  



#cookieCounterColor {
  color: rgb(27, 182, 9);
}


#buyabletitle {
  margin: 0.5ch;
  
  justify-self: left;
  font-size: large;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  
}
#BuyRow {
  
  border: .2rem solid black;
  background-color: greenyellow;
  
  flex-wrap: wrap;
  
  
  
}


#BuyRowMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: greenyellow;
  
  flex-wrap: nowrap;
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}

#BuyRowDesc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  
  align-items: center;
  
  background-color: greenyellow;
  padding: 0.2rem;
  flex-wrap: wrap;
  
  
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


#buyableicon {
  margin: 0.4rem;
}

#buyableamount {
  margin-left: auto;
  margin-right: 0px;
  flex: 1;
  padding: 0.4ch;
  text-align: right;
  color: blue;
  font-size: xx-large;
  
  
}
/* #buyabledesc {
  display: none;
} */

#buyabledesc {
  display: flex;
  margin-bottom: auto;
  border-top: 0.1rem solid black;
  font-size: small;
}

.BobuxBuy img {
  max-width: 20%;
}

.VisualRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: .2rem solid black;
  background-color: greenyellow;
  padding: 0.2rem;
  flex-wrap: wrap;
  

  
}
.VisualRow img {
  max-width: 18%;
}

#tooltip {
  display:none;
  color: rgb(12, 77, 12);
  background-color: greenyellow;
  border-radius: 1ch;
  font-size: x-large;
  
}

#delete-data {
  display: flex;
  color: darkred;
  background-color: gray;
  border: .2rem solid black;
  padding: 0.2rem;
  align-items: center;
}